<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head.ejs') %>
<body>
    <!-- Nav Bar -->
     <%- include('./partials/nav.ejs') %>
    <h1 style="text-align: center; margin-top: 5%;"><%=flashcarddeck.title%></h1>
    <div >
        <form class="new-card-details" action="flashcards/<%=flashcarddeck._id%>/add-cards">
        <div class="card new-deck-card" style="height: 20.5em;" >
            <div class="card-header">
                <h5 class="card-title text-center">prompt / front</h5>
            </div>
            <div class="card-body">
                    <div class="mb-3">
                      <label for="card-prompt" class="form-label" >prompt</label>
                        <input name="prompt" id="" class="form-control prompt" aria-describedby="promptHelp">
                        <div id="promptHelp" class="form-text">Keep it simple</div>
                    </div>
                    <div class="mb-3 form-check">
                    </div>
                    
            </div>
        </div>
        
        <div class="card new-deck-card" >
            <div class="card-header">
                <h5 class="card-title text-center">response / back</h5>
            </div>
            <div class="card-body">
                    <div class="mb-3">
                      <label for="card-reponse" class="form-label">reponse</label>
                        <textarea name="response" id="" class="form-control response" rows="5" aria-describedby="responseHelp"></textarea>
                        <div id="responseHelp" class="form-text">avoid using words in the prompt</div>
                    </div>
                    <div class="mb-3 form-check">
                    </div>
                
                </div>
            </div>
            <button id="myid"type="submit" class="btn btn-primary overHere" data-doc="<%=flashcarddeck._id%>">Add Another Card</button>         
            <button type="submit" class="btn btn-success" >Done!</button>
        </form>
    </div>
    
    <%- include('./partials/footer.ejs') %>
     <script>
         const form = document.querySelector('form');
         const pushToDb = document.querySelector('button.overHere')
         const endpoint =`add-cards`


    //  "flashcards/${pushToDb.dataset.doc}/add-cards"
       
        
        pushToDb.addEventListener('click', (e)=> {
            e.preventDefault();
            const prompt = form.prompt.value
            const response = form.response.value
            const data = { prompt : prompt , response: response}
            console.log(data)
            fetch(endpoint,{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then((res => {
                console.log('req made')
               res.json() //<-- this turns the response from the server into a readable file in the client
                .then(res => {
                    console.log(res)
                })
                .catch(err => console.log(err));
            }))
            
            .catch(err=> console.log(err))
        })
         
            
    </script> 
</body>
</html>