<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <h1>Flashcards App</h1>

    <div class="new-deck">
        <div class="card add-new-deck" >
            <div class="card-body">
                <h5 class="card-title">Add New Deck</h5>
                <i class="fa fa-solid fa-plus"></i>
            </div>
        </div>
    </div>
    
        
            
    <h2><%= users.username%>'s Decks</h2>
<hr>
    <div class="decks-container">
      
        <div class="decks ">
            <% if(users.flashcardDeck.length > 0){%>
                <% users.flashcardDeck.forEach( deck => {%>
            <div class="deck">
                <div class="card " style="height: 15em;">
                    <div class="card-body">
                        <h5 class="card-title"><%= deck.title%></h5>
                    </div>
                </div>
            </div>
            <% }) %>
            <% } else{ %>
                <p>there are no decks to display</p>
                <%}%>
        </div>
    </div>
    <hr>
    <%- include('./partials/footer.ejs') %>
</body>
</html>