<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <h1>Flashcards App</h1>

    <a href="flashcards/create-deck" style="text-decoration: none;"><div class="new-deck">
        <div class="card add-new-deck" >
            <div class="card-body">
                <h5 class="card-title">Add New Deck</h5>
                <i class="fa fa-solid fa-plus"></i>
            </div>
        </div>
    </div></a>
    
        
            
    <h2>My Decks</h2>
<hr>
    <div class="decks-container">
      
        <div class="decks ">
            <% if(flashcarddecks.length > 0){%>
                <% flashcarddecks.forEach( deck => {%>
                <div class="deck">
                 
                        <div class="card " style="height: 15em;">
                            <div class="card-body">
                                <h5 class="card-title"><%= deck.title%></h5>
                                <h6 class="deck-desc"><%= deck.description%></h6>
                                <button class="delete" id="delete" data-doc="<%= deck._id%>">
                                    X Delete Deck
                                </button>
                                    
                                <a href="flashcards/<%=deck._id%>/add-cards"><button>add cards</button></a>
                                <a href="flashcards/<%=deck._id%>"><button>play</button></a>
                                <p> this deck has <%=deck.cards.length%> cards</p>
                            </div>
                        </div>
               
                </div>
            <% }) %>
            <% } else{ %>
                <p>there are no decks to display</p>
                <%}%>
        </div>
    </div>
    <hr>
    <%- include('./partials/footer.ejs') %>
    <script>

    const deleteDeck = document.querySelector('#delete')
    deleteDeck.addEventListener('click', () => {
       const endpoint= `/flashcards/${deleteDeck.dataset.doc}`

       fetch(endpoint, {
           method: 'DELETE'
       })
       .then((res)=>{
           res.json()
           .then((mess)=> {
               console.log(mess)
           location.reload();    
        })
           .catch(err => console.log(err))
       })
       .catch(err => console.log(err));
     });

    </script>
</body>
</html>