<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <h1>Play Flashcards</h1>
    <h2><%=flashcarddeck.title%></h2>

    <% if(flashcarddeck.cards.length > 0){%>
         
   <% flashcarddeck.cards.forEach((card) => {%>
      <a href="/flashcards/<%=flashcarddeck._id%>/<%=card._id%>"> <p><%=card%> ,<%=flashcarddeck._id%></p></a>
      <button></button>
       
    <% })%>

        <%  } %>

    </div>
    
    
    <hr>
    <%- include('./partials/footer.ejs') %>

    <script>
        const run = document.querySelector('#run')
       const btn = document.querySelector('#next');
       const endpoint=  `flashcards/${btn.dataset.doc}/play`
       console.log(endpoint)

        setTimeout(()=>{
           
        }, 5000)
     
    </script>
  
</body>
</html>